@page "/"


<PageTitle>Suedbank</PageTitle>

<style>
    .Texthome{
        height: 100vh;      
        background-image: url('/stonks-meme-template-1152x648.jpg');
        background-color: transparent;
    }
</style>

@* <img src="/stonks-meme-template-1152x648.jpg" class="background-image" alt="Background" /> *@
<div class="Texthome">
    <h1>Welcome to Suedbank </h1>
    <h4> With a CEO who DOESN'T mess with your money!</h4>
</div>
