@page "/"

<!-- Displays the Home page -->
<PageTitle>Suedbank</PageTitle>

<div class="home-page">
<h1 class="h1-home">Welcome to Suedbank </h1>
<h4 class="h4-home"> Totaly NOT a rip-off of another bank</h4>
<h5 class="h5-home"> Create your account and make transfers, deposits and withdrawls freely!</h5>
</div>
